# Pandas簡介

* Series
* DataFrame

In [1]:
import yfinance as yf

In [3]:
import requests

## 下載股票歷史資料

In [4]:
session = requests.Session()
session.verify = False
df = yf.download('TSLA', session=session)

C:\Users\victor\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1056: InsecureRequestWarning: Unverified HTTPS request is being made to host 'query2.finance.yahoo.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

[*********************100%%**********************]  1 of 1 completed

## 檢視資料

In [5]:
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [7]:
df.head(3)

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000

In [8]:
df[:5]

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [6]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-05,183.050003,184.589996,177.570007,180.740005,180.740005,119660800
2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900
2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000
2024-03-08,181.500000,182.729996,174.699997,175.339996,175.339996,85315300
2024-03-11,175.449997,182.869995,174.800003,177.770004,177.770004,85211900

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3448 entries, 2010-06-29 to 2024-03-11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3448 non-null   float64
 1   High       3448 non-null   float64
 2   Low        3448 non-null   float64
 3   Close      3448 non-null   float64
 4   Adj Close  3448 non-null   float64
 5   Volume     3448 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 188.6 KB

## 讀取單一欄位資料

In [11]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['Close']

Date
2010-06-29      1.592667
2010-06-30      1.588667
2010-07-01      1.464000
2010-07-02      1.280000
2010-07-06      1.074000
                 ...
2024-03-05    180.740005
2024-03-06    176.539993
2024-03-07    178.649994
2024-03-08    175.339996
2024-03-11    177.770004
Name: Close, Length: 3448, dtype: float64

In [10]:
type(df['Close'])

pandas.core.series.Series

## 讀取多個欄位的資料

In [14]:
df[['Open', 'Close']].head()

                Open     Close
Date
2010-06-29  1.266667  1.592667
2010-06-30  1.719333  1.588667
2010-07-01  1.666667  1.464000
2010-07-02  1.533333  1.280000
2010-07-06  1.333333  1.074000

In [15]:
df[['Close']].head()

               Close
Date
2010-06-29  1.592667
2010-06-30  1.588667
2010-07-01  1.464000
2010-07-02  1.280000
2010-07-06  1.074000

In [16]:
type(df[['Close']])

pandas.core.frame.DataFrame

## 計算投資報酬率

In [17]:
df['Close']

Date
2010-06-29      1.592667
2010-06-30      1.588667
2010-07-01      1.464000
2010-07-02      1.280000
2010-07-06      1.074000
                 ...
2024-03-05    180.740005
2024-03-06    176.539993
2024-03-07    178.649994
2024-03-08    175.339996
2024-03-11    177.770004
Name: Close, Length: 3448, dtype: float64

In [18]:
df['Close'][0]

1.5926669836044312

In [19]:
df['Close'][-1]

177.77000427246094

In [20]:
df['Close'][-1]/df['Close'][0]

111.61781219959883

## 2018年，年初買進，持有到年底的投資報酬率

In [23]:
df.loc['2018']

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  20.799999  21.474001  20.733334  21.368668  21.368668   65283000
2018-01-03  21.400000  21.683332  21.036667  21.150000  21.150000   67822500
2018-01-04  20.858000  21.236668  20.378668  20.974667  20.974667  149194500
2018-01-05  21.108000  21.149332  20.799999  21.105333  21.105333   68868000
2018-01-08  21.066668  22.468000  21.033333  22.427334  22.427334  147891000
...               ...        ...        ...        ...        ...        ...
2018-12-24  20.900000  20.966667  19.680000  19.692667  19.692667   83398500
2018-12-26  20.000000  21.798000  19.606001  21.739332  21.739332  122446500
2018-12-27  21.322666  21.478001  20.100000  21.075333  21.075333  128626500
2018-12-28  21.540001  22.416000  21.227333  22.257999  22.257999  149085000
2018-12-31  22.519333  22.614000  21.684000  22.186666  22.186666   94534500

[251 rows x 6 columns]