# Pandas簡介

* Series
* DataFrame

In [1]:
import yfinance as yf

In [3]:
import requests

## 下載股票歷史資料

In [4]:
session = requests.Session()
session.verify = False
df = yf.download('TSLA', session=session)

C:\Users\victor\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1056: InsecureRequestWarning: Unverified HTTPS request is being made to host 'query2.finance.yahoo.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

[*********************100%%**********************]  1 of 1 completed

## 檢視資料

In [5]:
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [7]:
df.head(3)

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000

In [8]:
df[:5]

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [6]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-05,183.050003,184.589996,177.570007,180.740005,180.740005,119660800
2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900
2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000
2024-03-08,181.500000,182.729996,174.699997,175.339996,175.339996,85315300
2024-03-11,175.449997,182.869995,174.800003,177.770004,177.770004,85211900

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3448 entries, 2010-06-29 to 2024-03-11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3448 non-null   float64
 1   High       3448 non-null   float64
 2   Low        3448 non-null   float64
 3   Close      3448 non-null   float64
 4   Adj Close  3448 non-null   float64
 5   Volume     3448 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 188.6 KB

## 讀取單一欄位資料

In [11]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['Close']

Date
2010-06-29      1.592667
2010-06-30      1.588667
2010-07-01      1.464000
2010-07-02      1.280000
2010-07-06      1.074000
                 ...
2024-03-05    180.740005
2024-03-06    176.539993
2024-03-07    178.649994
2024-03-08    175.339996
2024-03-11    177.770004
Name: Close, Length: 3448, dtype: float64

In [10]:
type(df['Close'])

pandas.core.series.Series

## 讀取多個欄位的資料

In [14]:
df[['Open', 'Close']].head()

                Open     Close
Date
2010-06-29  1.266667  1.592667
2010-06-30  1.719333  1.588667
2010-07-01  1.666667  1.464000
2010-07-02  1.533333  1.280000
2010-07-06  1.333333  1.074000

In [15]:
df[['Close']].head()

               Close
Date
2010-06-29  1.592667
2010-06-30  1.588667
2010-07-01  1.464000
2010-07-02  1.280000
2010-07-06  1.074000

In [16]:
type(df[['Close']])

pandas.core.frame.DataFrame

## 計算投資報酬率

In [17]:
df['Close']

Date
2010-06-29      1.592667
2010-06-30      1.588667
2010-07-01      1.464000
2010-07-02      1.280000
2010-07-06      1.074000
                 ...
2024-03-05    180.740005
2024-03-06    176.539993
2024-03-07    178.649994
2024-03-08    175.339996
2024-03-11    177.770004
Name: Close, Length: 3448, dtype: float64

In [18]:
df['Close'][0]

1.5926669836044312

In [19]:
df['Close'][-1]

177.77000427246094

In [20]:
df['Close'][-1]/df['Close'][0]

111.61781219959883

## 2018年，年初買進，持有到年底的投資報酬率

In [23]:
df.loc['2018']

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  20.799999  21.474001  20.733334  21.368668  21.368668   65283000
2018-01-03  21.400000  21.683332  21.036667  21.150000  21.150000   67822500
2018-01-04  20.858000  21.236668  20.378668  20.974667  20.974667  149194500
2018-01-05  21.108000  21.149332  20.799999  21.105333  21.105333   68868000
2018-01-08  21.066668  22.468000  21.033333  22.427334  22.427334  147891000
...               ...        ...        ...        ...        ...        ...
2018-12-24  20.900000  20.966667  19.680000  19.692667  19.692667   83398500
2018-12-26  20.000000  21.798000  19.606001  21.739332  21.739332  122446500
2018-12-27  21.322666  21.478001  20.100000  21.075333  21.075333  128626500
2018-12-28  21.540001  22.416000  21.227333  22.257999  22.257999  149085000
2018-12-31  22.519333  22.614000  21.684000  22.186666  22.186666   94534500

[251 rows x 6 columns]

In [24]:
df.loc['2018']['Close']

Date
2018-01-02    21.368668
2018-01-03    21.150000
2018-01-04    20.974667
2018-01-05    21.105333
2018-01-08    22.427334
                ...
2018-12-24    19.692667
2018-12-26    21.739332
2018-12-27    21.075333
2018-12-28    22.257999
2018-12-31    22.186666
Name: Close, Length: 251, dtype: float64

In [25]:
df.loc['2018']['Close'][-1]/df.loc['2018']['Close'][0]

1.038280294369463

## 檢視2010年開始，每一年的投資報酬率

In [29]:
for i in range(2010, 2025):
    ret = df.loc[str(i)]['Close'][-1]/df.loc[str(i)]['Close'][0]
    print(i, '==>',ret)

2010 ==> 1.1146919382326346
2011 ==> 1.0728773440103994
2012 ==> 1.2061965396956114
2013 ==> 4.2542431147774264
2014 ==> 1.4817454450219967
2015 ==> 1.0943869435813898
2016 ==> 0.9564925633701342
2017 ==> 1.4348587551998524
2018 ==> 1.038280294369463
2019 ==> 1.3489293766859665
2020 ==> 8.200506467423963
2021 ==> 1.4481001179959765
2022 ==> 0.3080064689288968
2023 ==> 2.298612388852389
2024 ==> 0.7156026309587331

## 檢視一下 NVDA 的資料

In [30]:
df = yf.download('NVDA', session=session)

C:\Users\victor\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1056: InsecureRequestWarning: Unverified HTTPS request is being made to host 'query2.finance.yahoo.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

[*********************100%%**********************]  1 of 1 completed

In [31]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-01-22,0.437500,0.488281,0.388021,0.410156,0.376237,271468800
1999-01-25,0.442708,0.458333,0.410156,0.453125,0.415652,51048000
1999-01-26,0.458333,0.467448,0.411458,0.417969,0.383404,34320000
1999-01-27,0.419271,0.429688,0.395833,0.416667,0.382210,24436800
1999-01-28,0.416667,0.419271,0.412760,0.415365,0.381015,22752000
...,...,...,...,...,...,...
2024-03-05,852.700012,860.969971,834.169983,859.640015,859.640015,52063900
2024-03-06,880.219971,897.239990,870.299988,887.000000,887.000000,58252000
2024-03-07,901.580017,927.669983,896.020020,926.690002,926.690002,60811900
2024-03-08,951.380005,974.000000,865.059998,875.280029,875.280029,113299600
2024-03-11,864.289978,887.969971,841.659973,857.739990,857.739990,67343000

In [32]:
df['Close'][-1]/df['Close'][0]

2091.2530013328924

In [33]:
df.loc['2019':]['Close'][-1]/df.loc['2019':]['Close'][0]

25.18690302592695

In [34]:
df.loc['2019':]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,32.660000,34.619999,32.512501,34.055000,33.788895,50875200
2019-01-03,33.447498,33.790001,31.922501,31.997499,31.747471,70555200
2019-01-04,32.735001,34.432499,32.424999,34.047501,33.781456,58562000
2019-01-07,34.625000,36.222500,34.107498,35.849998,35.569874,70916000
2019-01-08,36.672501,36.695000,34.224998,34.957500,34.684341,78601600
...,...,...,...,...,...,...
2024-03-05,852.700012,860.969971,834.169983,859.640015,859.640015,52063900
2024-03-06,880.219971,897.239990,870.299988,887.000000,887.000000,58252000
2024-03-07,901.580017,927.669983,896.020020,926.690002,926.690002,60811900
2024-03-08,951.380005,974.000000,865.059998,875.280029,875.280029,113299600
2024-03-11,864.289978,887.969971,841.659973,857.739990,857.739990,67343000

In [35]:
for i in range(1999, 2025):
    ret = df.loc[str(i)]['Close'][-1]/df.loc[str(i)]['Close'][0]
    print(i, '==>',ret)

1999 ==> 2.3841293388028615
2000 ==> 1.3998666923193703
2001 ==> 4.469310342323085
2002 ==> 0.1710253268984546
2003 ==> 1.8846469348986923
2004 ==> 1.0207972102790819
2005 ==> 1.5504666907107452
2006 ==> 1.93668231221561
2007 ==> 1.414357118654672
2008 ==> 0.24447137549716164
2009 ==> 2.144661334484896
2010 ==> 0.8328826289433195
2011 ==> 0.8761061898889784
2012 ==> 0.8732193918940536
2013 ==> 1.2594339718127767
2014 ==> 1.2641866123004146
2015 ==> 1.6373572011225785
2016 ==> 3.297497725853478
2017 ==> 1.896872815879252
2018 ==> 0.6696764279539477
2019 ==> 1.7273528185521423
2020 ==> 2.176649594580894
2021 ==> 2.2428032003023484
2022 ==> 0.48517646670244496
2023 ==> 3.459448287359412
2024 ==> 1.7807257998604888

In [36]:
df.loc['2008']

              Open    High     Low   Close  Adj Close     Volume
Date
2008-01-02  8.5300  8.5625  8.1400  8.2525   7.570035   48396400
2008-01-03  8.3000  8.4650  8.1575  8.1875   7.510412   47530800
2008-01-04  7.9425  7.9825  7.4500  7.5000   6.879766   73609200
2008-01-07  7.5500  7.6125  6.5875  6.7250   6.168857  100680000
2008-01-08  6.7625  7.3225  6.6050  6.8675   6.299573  110695600
...            ...     ...     ...     ...        ...        ...
2008-12-24  1.9375  1.9850  1.8900  1.9300   1.770393   14661600
2008-12-26  1.9300  1.9550  1.8250  1.8775   1.722235   22615600
2008-12-29  1.9025  1.9375  1.7800  1.9375   1.777273   46016800
2008-12-30  1.9625  2.0350  1.9175  2.0050   1.839191   40986000
2008-12-31  1.9800  2.0675  1.9450  2.0175   1.850657   44158000

[253 rows x 6 columns]

In [39]:
total = 1
for i in range(1999, 2025):
    ret = df.loc[str(i)]['Close'][-1]/df.loc[str(i)]['Close'][0]
    total *= ret
    print(i, '==>', ret, '==>', total)

1999 ==> 2.3841293388028615 ==> 2.3841293388028615
2000 ==> 1.3998666923193703 ==> 3.337463251571529
2001 ==> 4.469310342323085 ==> 14.916159027371865
2002 ==> 0.1710253268984546 ==> 2.5510409737256077
2003 ==> 1.8846469348986923 ==> 4.807811551932942
2004 ==> 1.0207972102790819 ==> 4.907800619760691
2005 ==> 1.5504666907107452 ==> 7.609381385588502
2006 ==> 1.93668231221561 ==> 14.736954336371964
2007 ==> 1.414357118654672 ==> 20.843316272936523
2008 ==> 0.24447137549716164 ==> 5.095594199167164
2009 ==> 2.144661334484896 ==> 10.928323855179345
2010 ==> 0.8328826289433195 ==> 9.102011102445765
2011 ==> 0.8761061898889784 ==> 7.974328267290939
2012 ==> 0.8732193918940536 ==> 6.963338080327356
2013 ==> 1.2594339718127767 ==> 8.769864535581837
2014 ==> 1.2641866123004146 ==> 11.08674533757075
2015 ==> 1.6373572011225785 ==> 18.15296231548364
2016 ==> 3.297497725853478 ==> 59.859351952811195
2017 ==> 1.896872815879252 ==> 113.54557749543618
2018 ==> 0.6696764279539477 ==> 76.03879674711185
2019 ==> 1.7273528185521423 ==> 131.34582988043712
2020 ==> 2.176649594580894 ==> 285.89384735914456
2021 ==> 2.2428032003023484 ==> 641.2036358038405
2022 ==> 0.48517646670244496 ==> 311.09691445606865
2023 ==> 3.459448287359412 ==> 1076.2236879178442
2024 ==> 1.7807257998604888 ==> 1916.4592874963082